<div class='container-fluid'>
  <div class='jumbotron text-center'>
    <h1>
      <img class='logo' src='assets/ngx-rocket-logo.png' alt='angular logo' />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]='isLoading'></app-loader>
  </div>
  <div class='container custom__panel'>
    <table class='custom__table'>
      <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Perfil</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor='let u of users;'>
        <td>{{u.ID}}</td>
        <td>{{u.Username}}</td>
        <td>{{u.Profile.ProfileName}}</td>
        <td>
          <a style='color:blueviolet'>Edit</a>
        </td>
        <td>
          <a style='color:blueviolet' (click)='deleteUser(u.ID)' style='cursor: pointer'>Delete</a>
        </td>
      </tr>
    </table>

  </div>
</div>
