.custom-card {
    background: white;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 16px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 48px;
    max-width: 100%;
    grid-template-columns: calc(100%);
    font-family: inherit;
    .custom-card__card-header {
        overflow: hidden;
        width: 100%;
        height: 240px;
        .custom-card__card-img {
            min-height: 100%;
            min-width: 100%;
            max-height: 240px;
        }
    }
    .custom-card__card-body {
        padding: 16px;
        .title,
        .text,
        .metadata {
            margin: 0;
            padding: 8px 0;
            display: block;
        }
        .title {
            font-size: 1.25rem;
            font-weight: bold;
        }
        .text {
            font-size: 1rem;
        }
        .metadata {
            padding: 0;
            font-size: .725rem;
            color: #777;
        }
    }
    .custom-card__card-footer {
        border-top: 1px solid #fafafa;
        .custom-card__card-button {
            background: transparent;
            border: none;
            padding: 12px 16px;
            color: #666;
            text-decoration: none;
            cursor: pointer;
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
            &:hover {
                background: #fafafa;
            }
        }
    }
}

.card__wrapper {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1366px) {
    .card__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .card__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .card__wrapper {
        grid-template-columns: 1fr;
    }
}