.custom__table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    thead, tfoot{
        tr{
            th{
                color: #777;
                font-size: .85rem;
                text-align: left;
                padding: 8px;
            }
        }
    }
    thead, tbody{
        tr{
            th, td{
                border-bottom: 1px solid #ccc;
                padding: 8px;
            }
        }
    }
    tfoot{
        tr{
            th{
                border-top: 1px solid #ccc;
            }
        }
    }
}